:root {
  --white1: #ffffff;
  --white2: #f5f5f5;
  --white3: #efefef;
  --black1: #2d2d2d;
  --black2: #828282;
  --black3: #c4c4c4;
  --green1: #56fc80;
  --purple1: #af68f6;
  --pink1: #f887d6;
  --pink2: #efd5c6;
  --pink3: #da8ac2;
  --blue1: #00aaff;
}
