.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 3rem 0 0;
}
.card--container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 30%);
  gap: 2rem;
  color: var(--purple1);
  background-color: var(--white1);
}
