.container {
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--pink2);
}

.header--section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.pad{
  padding-top: 3rem;
}
